body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;  
}

input, select, button {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;  
    max-width: 400px; 
}

button {
    background-color: white;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: grey;
    color: white;
}

h1 {
    margin-top: 20px;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    gap: 20px;  
    width: 100%;
    margin: 0 auto;  
}
.radio-group label {
    display: absolute;
    align-items: center;
    gap: 5px; 
    margin: 0;  
    padding: 0; 
}

.radio-group input[type="radio"] {
    margin-right: 5px;  
}


.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button-group button {
    margin-left: 10px;
  }
  
  .button-group button:first-child {
    margin-left: 0;
  }
  

  .filter-container {
    margin-bottom: 20px;
  }
  
  .filter-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .filter-select {
    padding: 5px;
  }
  
  .filter-input input[type="text"] {
    padding: 5px;
  }
  
  .filter-weakest {
    margin-top: 10px;
  }
  
  .pagination-controls {
    margin-top: 20px;
  }
  
  .pagination-controls button {
    margin-right: 10px;
  }
  .score-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .score-topic {
    padding: 10px;
    font-size: 16px;
  }
  
  .score-value {
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    min-width: 30px;
    text-align: center;
  }
  
  .score-high {
    background-color: green;
  }
  
  .score-medium {
    background-color: orange;
  }
  
  .score-low {
    background-color: red;
  }
  